<%- include('../partials/header') %>
<div class="container">
  <div class="page-header">
    <h2>Organization</h2>
  </div>

  <div class="org-nav">
    <a href="/organization/gdpr" class="org-nav-item">
      <div class="org-icon">&#128274;</div>
      <span>GDPR</span>
    </a>
    <a href="/organization/board" class="org-nav-item">
      <div class="org-icon">&#128101;</div>
      <span>Board of Directors</span>
    </a>
    <a href="/organization/important-dates" class="org-nav-item">
      <div class="org-icon">&#128197;</div>
      <span>Important Dates</span>
    </a>
    <a href="/organization/contacts" class="org-nav-item">
      <div class="org-icon">&#128222;</div>
      <span>External Contacts</span>
    </a>
    <a href="/statistics" class="org-nav-item">
      <div class="org-icon">&#128202;</div>
      <span>Statistics</span>
    </a>
    <a href="/year-wheels" class="org-nav-item">
      <div class="org-icon">&#128260;</div>
      <span>Year's Wheels</span>
    </a>
    <a href="/organization/departments" class="org-nav-item">
      <div class="org-icon">&#127970;</div>
      <span>Departments</span>
    </a>
    <a href="/organization/rooms" class="org-nav-item">
      <div class="org-icon">&#128682;</div>
      <span>Rooms</span>
    </a>
    <a href="/organization/notifications" class="org-nav-item">
      <div class="org-icon">&#128276;</div>
      <span>Notifications</span>
    </a>
  </div>
</div>
<%- include('../partials/footer') %>
